.wrapper {
  touch-action: none;
}
.header {
  height: .5rem;
  background-color: red;
  line-height: .5rem;
  text-align: center;
  font-size: .2rem;
  color: white;
}

.item {
  height: 1rem;
  background-color: pink;
  .title {
    width: 2rem;
    float: left;
  }
  .imgct {
    width: 1.75rem;
    float: right;
    height: 1rem;
    line-height: 1rem;

    img {
      width: 1.6rem;
      max-height: .8rem;
      vertical-align: middle;
    }

  }

}
.item:nth-child(2n) {
  background-color: orange;
}

.list {
  /*transition: 2s;*/
}
.wp {
  background-color: green;
  width: 3rem;
  height: 3rem;
  .ct {
    mix-blend-mode: screen;
    color: blue;
    font-size: .4rem;
    background-color: red;
    width: 2rem;
    height: 2rem;
  }
}
